.lvl-0 {
    margin-left: 25px;
}

.lvl-1 {
    margin-left: 50px;
}

.lvl-2 {
    margin-left: 75px;
}

.lvl-3 {
    margin-left: 100px;
}

.lvl-4 {
    margin-left: 125px;
}

.lvl-5 {
    margin-left: 150px;
}

.lvl-6 {
    margin-left: 175px;
}